* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
}

p {
    font-size: 14px;
}

h2 {
    font-size: 18px;
    padding: 10px 0px;
}

h1 {
    font-size: 24px;
    padding: 10px 0px;
}
 a {
     text-decoration: none;
     color: white;
 }

.nav-holder {
    width: 100%;
    height: 100px;
}

.subnav {
    display: none;
}

.img-holder {
    width: 100%;
    height: 400px;
    background-image: url("assets/laptop_graph_stock.jpg");
    background-position: center;
    background-repeat: no repeat;
    background-size: cover;
    position: relative;
}

.logo img {
    width: 100%;
    width: 50px;
}
.logo p {
    position: absolute;
    color: white;
    top: 15px;
    left: 80px;
    width: 100px;
}

.logo {
    height: 50px;
    position: absolute;
    top: 10px;
    left: 20px;
}
.navigation {
    position: absolute;
    top: 10px;
    right: 0px;
    color: white;
}
.navigation span {
    padding: 20px;
}

.login-button {
    background-color: #5984f5;
}

button {
    width: 250px;
    border: none;
    border-radius: 5px;
    background-color: #3D5293;
    color: white;
    padding: 10px;
    font-weight: bold;
    margin-top: 5px;
}

.line-break {
    width: 100%;
    size: 1px;
    margin: 2px 0px;
    background-color: #3D5293;
}

.main-holder {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.content-card {
    width: 85%;
    border-radius: 15px;
    padding: 25px;
    margin-top: 25px;
    background-color: #f5f6f9;
}

.content-card span {
    width: 80%;
}