* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
}

p {
    font-family: "Georgia", serif;
    padding: 20px 0px;
    font-size: 12px;
}

a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 10px;
    
}

.logo-holder {
    padding: 20px;
}

h1{
    font-size: 18px;
} 

h2 {
    width: 100%;
    display: block;
    background-color: #5984F5;
    color: white;
    font-size: 18px;
}
h3 {
    font-size: 14px;
    padding: 5px;
}

.menu-holder {
    width: 60%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
}
.menu-holder a {
    display: inline-block;
}

.menu-holder a:hover {
    background-color: #FFA114;
}
.nav-options a {
    padding: 0px 10px;
}

button {
    background-color: #FFA114;
    color: white;
    border: 2px solid #FFA114;
    border-radius: 5px;
}
.login {
    text-align: center;
    height: 25px;
} 
.login a {
    padding: 5px;
}
.main-holder {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.main-holder div {
    width: 100%;
    margin-bottom: 15px;
}
.content-card p {
    padding: 10px;
}
