* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
}

p {
    font-family: "Georgia", serif;
    padding: 20px 0px;
    font-size: 12px;
}

a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 10px;
    padding: 25px;
}

.logo-holder {
    padding: 20px;
}

h1{
    font-size: 18px;
} 

h2 {
    width: 100%;
    display: block;
    background-color: #205bf5;
    color: white;
    font-size: 14px;
    padding: 0.5em;
}

.menu-holder {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 20px;
}

.menu-holder a:hover {
    background-color: #FFA114;
    color: white;
}

/*
.logo {
    position: absolute;
    left: 25px;
} */

button {
    padding: 5px;
    background-color: #FFA114;
    color: white;
    border: 2px solid #FFA114;
    border-radius: 5px;
}

/*
.login {
    position: absolute;
    right: 2px;
} */

.main-holder {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.main-holder div {
    width: 100%;
    margin-bottom: 15px;
}
.team-block {
    display: inline-block;
    width: 250px;
    height: 250px;
    text-align: center;
    background-color: lightblue;
    color: white;
}
.team-block h1 {
    position: relative;
    top: 200px;
}
